<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Офіційний сайт SmartЕра ® | Ноутбуки, планшети, десктопи, смарт пристрої, телефони та дата центри | SmartЕра Ukraine</title>
  <link href="{{ url_for('static', filename='item.css') }}" rel="stylesheet" type="text/css"/>
</head>

<body>

    <nav>
        <div class="nav_up"> <!--Створюємо верхні кнопки сайту.-->
          <button>
            <a href=""><img height="16" width="16" src="https://rb.gy/eckoh1"/></a>
          </button>
          <div class="nav_up_content">Де купити</div>
                <button>
            <a href=""><img height="16" width="16" src="https://rb.gy/gt0udd"/></a>
          </button>
          <div class="nav_up_content">Контакти</div>
        </div>
    
    <!--Створюємо лого і пошукове поле сайту.-->
        
        <a href=""><img id="logo" alt="SmartЕра Logo" src="smartepa.png"></a>
        <input type="search" id="search" name="q" placeholder="  Що шукаєте сьогодні?" size="75"/>
    
        <svg xmlns="http://www.w3.org/2000/svg" id="icon" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
              <path d="M21 21l-6 -6" />
        </svg>
    
        <div class="nav"> <!--Створюємо навігацію сайту.-->
          <ul class="up">
            <li><button><a href="" class="nav_items">ПК і Планшети</a></button></li>
            <div class="underline"></div>
            <li><button><a href="" class="nav_items">Сервери та сховище</a></button></li>
            <div class="underline"></div>
            <li><button><a href="" class="nav_items">Послуги і Рішення</a></button></li>
            <div class="underline"></div>
            <li><button><a href="" class="nav_items">Підтримка</a></button></li>
            <div class="underline"></div>
            <li><button><a href="" class="nav_items">Про SmartЕру</a></button></li>
            <div class="underline"></div>
          </ul>
    
          <ul class="down">
            <li><button><a href="" class="nav_items">Ноутбуки</a></button></li>
            <div class="underline"></div>
            <li><button><a href="" class="nav_items">Настільні ПК</a></button></li>
            <div class="underline"></div>
            <li><button><a href="" class="nav_items">Робочі станції</a></button></li>
            <div class="underline"></div>
            <li><button><a href="" class="nav_items">Планшети</a></button></li>
            <div class="underline"></div>
            <li><button><a href="" class="nav_items">Монітори</a></button></li>
            <div class="underline"></div>
            <li><button><a href="" class="nav_items">Ігрові</a></button></li>
            <div class="underline"></div>
            <li><button><a href="" class="nav_items">Аксесуари</a></button></li>
            <div class="underline"></div>
            <li><button><a href="" class="nav_items">Розумні Пристрої</a></button></li>
            <div class="underline"></div>
          </ul>
        </div>
        </nav>
        <header>
          <div class="item">
            <p id="item-name">Name</p>
            <div id="yce">
              <img src="https://rb.gy/0r7z1m">
              <div id="vmist">
                <h4>Price</h4>
                <p>Description</p>
              </div>
            </div>
            <button id="cart">Buy</button>
          </div>
        </header>
</body>
<footer>
    <div class="socials"> <!--Кнопки соцмереж.-->
        <button id="facebook"></button>
        <button id="x"></button>
        <button id="instagram"></button>
        <button id="youtube"></button>
        <button id="telegram">
          <svg xmlns="http://www.w3.org/2000/svg" id="tsvg" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4" />
          </svg>
        </button>
      </div>
      
      <div class="select_home"> <!--Кнопка з варіантами відповідей.-->
          <p>Виберіть місце проживання:</p>
          <button class="home_btn">Мій дім — ...</button>
          <ul class="home_list">
          <li><a href="#">ВІННИЦЬКА ОБЛ.</a></li>
          <li><a href="#">ВОЛИНСЬКА ОБЛ.</a></li>
          <li><a href="#">ДНІПРОПЕТРОВСЬКА ОБЛ.</a></li>
          <li><a href="#">ДОНЕЦЬКА ОБЛ.</a></li>
          <li><a href="#">ЖИТОМИРСЬКА ОБЛ.</a></li>
          <li><a href="#">ЗАКАРПАТСЬКА ОБЛ.</a></li>
          <li><a href="#">ЗАПОРІЗЬКА ОБЛ.</a></li>
                <li><a href="#">ІВАНО-ФРАНКІВСЬКА ОБЛ.</a></li>
          <li><a href="#">М. КИЇВ</a></li>
          <li><a href="#">КИЇВСЬКА ОБЛ.</a></li>
          <li><a href="#">КІРОВОГРАДСЬКА ОБЛ.</a></li>
          <li><a href="#">ЛУГАНСЬКА ОБЛ.</a></li>
          <li><a href="#">ЛЬВІВСЬКА ОБЛ.</a></li>
          <li><a href="#">МИКОЛАЇВСЬКА ОБЛ.</a></li>
          <li><a href="#">ОДЕСЬКА ОБЛ.</a></li>
          <li><a href="#">ПОЛТАВСЬКА ОБЛ.</a></li>
          <li><a href="#">РІВНЕНСЬКА ОБЛ.</a></li>
          <li><a href="#">СУМСЬКА ОБЛ.</a></li>
          <li><a href="#">ТЕРНОПІЛЬСЬКА ОБЛ.</a></li>
          <li><a href="#">ХАРКІВСЬКА ОБЛ.</a></li>
          <li><a href="#">ХЕРСОНСЬКА ОБЛ.</a></li>
          <li><a href="#">ХМЕЛЬНИЦЬКА ОБЛ.</a></li>
                <li><a href="#">ЧЕРКАСЬКА ОБЛ.</a></li>
          <li><a href="#">ЧЕРНІВЕЦЬКА ОБЛ.</a></li>
          <li><a href="#">ЧЕРНІГІВСЬКА ОБЛ.</a></li>
          <li><a href="#">АР КРИМ</a></li>
          <li><a href="#">М. СЕВАСТОПОЛЬ</a></li>
          </ul>
        </div>
      
      <div class="footer"> <!--Створюємо інформацію в нижній частині сайту.-->
          <div class="about">
            <p>ПРО SMARTЕРУ</p>
            <a href="">Про SmartЕру</a>
            <a href="">Новини</a>
            <a href="">Взаємодія з інвесторами</a>
            <a href="">ESG</a>
            <a href="">Юридична інформація</a>
            <a href="">Робота в SmartЕрі</a>
            <a href="">Formula 1</a>
            <a href="">SmartЕра Go</a>
          </div>
            <div class="products">
            <p>ПРОДУКТИ ТА ПОСЛУГИ</p>
            <a href="">Ноутбуки</a>
            <a href="">Настільні ПК</a>
            <a href="">Робочі станції</a>
            <a href="">Планшети</a>
            <a href="">Розумні пристрої</a>
            <a href="">Сервери та Сховище</a>
            <a href="">Послуги SmartЕри</a>
          </div>
          <div class="resource">
                <p>РЕСУРСИ</p>
            <a href="">Де придбати</a>
            <a href="">Зв'язатись з нами</a>
            <a href="">Відповідність стандартам</a>
            <a href="">Повернення продуктів</a>
            <a href="">Форуми</a>
            <a href="">Підтримка</a>
          </div>
      </div>
      <div>
        <p id="copyright">© 2024 Всі права захищені.</p>
          <div class="footer_end">
            <a id="c" href="">Конфіденційність </a>
            <a id="m" href=""> Мапа сайту </a>
            <a href=""> Правила користування</a>
          </div>
      </div>
</footer>
</html>